<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Indexeo_Proyectos_Optimizado.Properties.Settings.CBR_IngenieriaConnectionString"
            connectionString="Data Source=177.231.253.170;Initial Catalog=CBR_Ingenieria;Persist Security Info=True;User ID=usuario;Password=admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>